<section class="wrap about-me">
  <div class="text-wrap  wow animate__fadeInUp" data-wow-duration="1s">
    <h2 class="text-title">? Кто я ?</h2>
    <ul class="text-list">
      <li class="text-item">Я родился и вырос в Санкт-Петербурге.</li>
      <li class="text-item">Дипломированный специалист - "Артист драматического театра и кино".</li>
      <li class="text-item">С 2015 года веду мероприятия разного формата, играю в театре.</li>
    </ul>
  </div>
  <div class="image-wrap  wow animate__fadeInUp" data-wow-duration="1s">
    <img src="../../../assets/images/about-me/1black.jpg" alt="Обо мне">
  </div>
</section>

<section class="wrap how-can-help">
  <div class="image-wrap  how-can-help vertical-img  wow animate__fadeInUp" data-wow-duration="1s" >
    <img src="../../../assets/images/about-me/2black2.jpg" alt="Чем я могу Вам помочь">
  </div>
  <div class="text-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <h2 class="text-title">? Чем я могу Вам помочь ?</h2>
    <ul class="text-list">
      <li class="text-item">Я организую ваше мероприятие под ключ.</li>
      <li class="text-item">Я проведу его по плану, который мы составим вместе, учитывая все ваши пожелания.</li>
      <li class="text-item">Я контролирую каждый момент от начала и до конца.</li>
      <li class="text-item">Я делаю так, чтобы гости остались довольны.</li>
    </ul>
  </div>
</section>

<section class="wrap about-me">
  <div class="text-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <h2 class="text-title">? Моя главная задача ?</h2>
    <ul class="text-list">
      <li class="text-item">Зарядить гостей позитивом.</li>
      <li class="text-item">Дать им возможность расслабиться.</li>
      <li class="text-item">Получить удовольствие от процесса.</li>
    </ul>
  </div>
  <div class="image-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <img src="../../../assets/images/about-me/3black2.jpg" alt="Обо мне">
  </div>
</section>

<section class="wrap how-can-help">
  <div class="image-wrap  how-does-it-go  wow animate__fadeInUp" data-wow-duration="1s" >
    <img src="../../../assets/images/about-me/4black.jpg" alt="Чем я могу Вам помочь">
  </div>
  <div class="text-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <h2 class="text-title">? Как проходят мероприятия ?</h2>
    <ul class="text-list">
      <li class="text-item">Энергично </li>
      <li class="text-item">Активно</li>
      <li class="text-item">Непринужденно </li>
      <li class="text-item">Душевно</li>
      <li class="text-item">С творческим направлением</li>
    </ul>
  </div>
</section>

<section class="wrap why-are-everyone-happy">
  <div class="text-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <h2 class="text-title">? Почему гости довольны ?</h2>
    <ul class="text-list">
      <p>Почему гости довольны во время и после мероприятия, которое провел я. </p>
      <li class="text-item">Я люблю свою работу</li>
      <li class="text-item">Для меня, как для актера, очень важно получить обратную позитивную реакцию зрителя</li>
      <li class="text-item">Я хочу, что бы ваше событие запомнилось, ведь 70% успеха зависит от меня.</li>
    </ul>
  </div>
  <div class="image-wrap wow animate__fadeInUp" data-wow-duration="1s">
    <img src="../../../assets/images/about-me/5.jpg" alt="Обо мне">
  </div>
</section>
