<article>
  <div class="main-page__wrap">
    <owl-carousel-o [options]="carouselOptionsMain" class="carousel">
      <ng-template carouselSlide><div class="wed-bg wed-bg--1"></div></ng-template>
      <ng-template carouselSlide><div class="wed-bg wed-bg--2"></div></ng-template>
      <ng-template carouselSlide><div class="wed-bg wed-bg--3"></div></ng-template>
    </owl-carousel-o>

    <div class="main-page__nav-wrap">
      <div class="main-page__nav-btn"><span>Отзывы</span></div>
      <div class="main-page__nav-btn"><span>Видео</span></div>
      <div class="main-page__nav-btn"><span>Забронировать дату</span></div>
    </div>
  </div>
</article>


