<header>
  <div class="header__wrap">
    <owl-carousel-o [options]="carouselOptionsHeader" class="carousel">
      <ng-template carouselSlide><div class="img-bg img-bg--1"></div></ng-template>
      <ng-template carouselSlide><div class="img-bg img-bg--2"></div></ng-template>
      <ng-template carouselSlide><div class="img-bg img-bg--3"></div></ng-template>
    </owl-carousel-o>
    <div class="header__text">
      <span class="header__name">Эдуард</span><br>
      ведущий<br>
      разноформатных<br>
      мероприятий
    </div>
    <button class="header__call-me-btn"><img src="../../../assets/icons/phone-call-icon.svg" width="50"
                                             alt="Заказать звонок"></button>
    <div class="header__nav-wrap">
      <div class="header__nav-btn" routerLink='wedding'><span>Свадьбы</span></div>
      <div class="header__nav-btn"><span>Дни рожде&shy;ния</span></div>
      <div class="header__nav-btn"><span>Вече&shy;ринки</span></div>
      <div class="header__nav-btn"><span>Корпо&shy;ративы</span></div>
    </div>
  </div>
</header>

