.header__wrap {
  height: 90vh;
  background-size: cover;
  position: relative;
}


.header__text {
  margin-left: 50px;
  padding-top: 125px;
  font-size: 60px;
  line-height: 80px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),
  2px -2px 0px rgba(255, 255, 255, 0.5),
  -2px 2px 0px rgba(255, 255, 255, 0.5),
  -2px -2px 0px rgba(255, 255, 255, 0.5),
  2px 0px 0px rgba(255, 255, 255, 0.5),
  0px 2px 0px rgba(255, 255, 255, 0.5),
  -2px 0px 0px rgba(255, 255, 255, 0.5),
  0px -2px 0px rgba(255, 255, 255, 0.5);
}

.header__call-me-btn {
  width: 75px;
  height: 75px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;

  &:hover, &:focus{
    box-shadow: 2px 2px 3px white, -2px -2px 3px white;
  }
}

.header__nav-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  top: calc(90vh - 75px);
  position: absolute;
  width: 100%;
}

.header__nav-btn {
  background-color: #ff6a00;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 31px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  &:hover, &:focus{
    box-shadow: 2px 2px 3px white, -2px -2px 3px white;
  }
}


.img-bg{
  background: sienna url(../../../assets/images/header/1.jpg) no-repeat 0 20%;
  background-size: cover;
  height: 90vh;
  width: 100%;
  &--2{
    background-image: url(../../../assets/images/header/2.jpg);
  }
  &--3{
    background-image: url(../../../assets/images/header/3.jpg);
  }
}

.carousel{
  position: absolute;
  z-index: -1;
  width: 100%;
}
