<header>
  <div class="header__wrap">
    <div class="header__text">
      <span class="header__name">Эдуард</span><br>
      ведущий<br>
      разноворматных<br>
      мероприятий
    </div>
    <button class="header__call-me-btn"><img src="../../../assets/icons/phone-call-icon.svg" width="50"
                                             alt="Заказать звонок"></button>
    <div class="header__nav-wrap">
      <div class="header__nav-btn"><span>Свадьбы</span></div>
      <div class="header__nav-btn"><span>Дни рождения</span></div>
      <div class="header__nav-btn"><span>Вече&shy;ринки</span></div>
      <div class="header__nav-btn"><span>Корпо&shy;ративы</span></div>
    </div>
  </div>
</header>
<section class="wrap about-me">
  <div class="text-wrap">
    <h2 class="text-title">? Кто я ?</h2>
    <ul class="text-list">
      <li class="text-item">Я родился и вырос в Санкт-Петербурге.</li>
      <li class="text-item">Дипломированный специалист - "Артист драматического театра и кино".</li>
      <li class="text-item">С 2015 года веду мероприятия разного формата, играю в театре.</li>
    </ul>
  </div>
  <div class="image-wrap">
    <img src="../../../assets/images/about-me/1black.jpg" alt="Обо мне">
  </div>
</section>

<section class="wrap how-can-help">
  <div class="image-wrap  how-can-help">
    <img src="../../../assets/images/about-me/2black.jpg" alt="Чем я могу Вам помочь">
  </div>
  <div class="text-wrap">
    <h2 class="text-title">? Чем я могу Вам помочь ?</h2>
    <ul class="text-list">
      <li class="text-item">Я организую ваше мероприятие под ключ.</li>
      <li class="text-item">Я проведу его по плану, который мы составим вместе, учитывая все ваши пожелания.</li>
      <li class="text-item">Я контролирую каждый момент от начала и до конца.</li>
      <li class="text-item">Я делаю так, чтобы гости остались довольны.</li>
    </ul>
  </div>
</section>

<section class="wrap about-me">
  <div class="text-wrap">
    <h2 class="text-title">? Моя главная задача ?</h2>
    <ul class="text-list">
      <li class="text-item">Зарядить гостей позитивом.</li>
      <li class="text-item">Дать им возможность расслабиться.</li>
      <li class="text-item">Получить удовольствие от процесса.</li>
    </ul>
  </div>
  <div class="image-wrap">
    <img src="../../../assets/images/about-me/3black2.jpg" alt="Обо мне">
  </div>
</section>
